<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海有色网2017校园招聘官网</title>
	<meta name="description" content="上海有色网2017校园招聘，有色狼行，围金筑梦。我们欢迎每一个怀揣梦想的骚年，成为有色网新一代的精英！">
    <meta name="keywords" content="有色金属；电商；互联网；冶炼；冶金；金融；咨询；材料专业">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta http-equiv="cache-control" content="max-age=7200" /><!--调用本地缓存，减少请求次数-->
    <link rel="shortcut icon" type="image/x-icon" href="{{static_server_path.UrlPrefix}}{{static_server_path.Version}}/static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{static_server_path.UrlPrefix}}{{static_server_path.Version}}/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="{{static_server_path.UrlPrefix}}{{static_server_path.Version}}/static/css/swiper-3.3.1.min.css">
    <script type="text/javascript" src="{{static_server_path.UrlPrefix}}{{static_server_path.Version}}/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{static_server_path.UrlPrefix}}{{static_server_path.Version}}/static/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="{{static_server_path.UrlPrefix}}{{static_server_path.Version}}/static/js/swiper-3.3.1.jquery.min.js"></script>
{% block css %}{% endblock %}
</head>
<body>
	<div class="headnav layout">
		<div class="headnav_left">
			<div class="smm_logo">
				<a href="http://www.smm.cn" target="_blank">
					<img class="logo_img" src="{{static_server_path.UrlPrefix}}{{static_server_path.Version}}/static/images/smm.png">
				</a>
			</div>
			<span class="headnav_title">校园招聘</span>
		</div>
		<ul class="headnav_right">
			<li><a href="/">首页</a></li>
			<li><a href="/hiring">招聘岗位</a></li>
			<li><a href="/process">招聘流程</a></li>
			<li><a href="/aboutus">走进有色</a></li>
			<li><a href="/plan">培养计划</a></li>
		</ul>
	</div>
	<div class="clearfix"></div>
{% block content %}
	<div class="main layout">首页</div>
{% endblock %}

</body>
</html>